* {
    box-sizing: border-box;
    border-radius:25px;
  
}

body {
    font-family: Arial;
    padding: 20px;
    background: #90C3C8;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: url(../images/northernlights.jpg) left top no-repeat, url(../images/northernlights2.jpg) right bottom no-repeat;
    background-size: cover;
}

/* Header/Blog Title */
/* .header {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    font-size: 40px;
    text-align: center;
    color:rgb(69, 206, 211);
    background-image: transparent;
    background-repeat: no-repeat;
} */

/* Style the top navigation bar */
.topnav {
    margin:auto;
    overflow: hidden;
    background-color: #333;
    font-family: 'Roboto', sans-serif;
}

/* Style the topnav links */
.topnav a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h1 {
    text-align: center;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #B9B8D3;
    color:rgba (0,0,0,0.8);
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    text-align: center;
    width: 25%;
    background-color: transparent;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color:rgba(255, 255, 255, 0.8);
     padding: 20px;
     margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    color:white;
    background-color: #333;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media (max-width: 400px) {
    .topnav a {
        float: none;
        width:100%;
    }
}

a:visited {
    color: #759FBC;
}

 a:active {
   color: #759FBC;
}
a:hover {
   color: #759FBC
}

 a:link {
   color: #759FBC;

 }

 button {
     background-color:#333;
     border-color: #333;
 }