* {
    box-sizing: border-box;
    border-radius:25px;
  
}


body {
    font-family: Arial;
    padding: 20px;
    background: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: url(../images/northernlights.jpg) left top no-repeat, url(../images/northernlights2.jpg) right bottom no-repeat;
    background-size: cover;
}

/* Header/Blog Title */
/* .header {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    font-size: 40px;
    text-align: center;
    color:rgb(69, 206, 211);
    background-image: transparent;
    background-repeat: no-repeat;
} */

/* Style the top navigation bar */
.topnav {
    text-align:center;
    margin:auto;
    overflow: hidden;
    color:black;
    background-color:rgba(255, 255, 255, 0.8);
    font-family: 'Roboto', sans-serif;
    border-style:dotted;
}

/* Style the topnav links */
.topnav a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change color on hover */


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {  
    margin:auto;
    width: 70%;
}

/* Right column */
/* .rightcolumn {
    display:inline-block;
    text-align: center;
    width: 25%;
    background-color: transparent;
    padding-left: 20px;
} */

/* Fake image */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
}

/* Add a card effect for articles */
.card {
    background-color:rgba(255, 255, 255, 0.8);
     padding: 20px;
     margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    color:white;
    background-color: #333;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media (max-width: 400px) {
    .topnav a {
        float: none;
        width:100%;
    }
}

a:visited {
    color: black;
}

 a:active {
   color: black;
}
a:hover {
   color: black;
}

 a:link {
   color: black;

 }

 button {
     background-color:#333;
     border-color: #333;
 }